<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Your Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="rowStyle">
    <ion-button class="ion-margin" color="danger" fill="clear">
      <ion-icon slot="icon-only" name="images"></ion-icon>
    </ion-button>

    <ion-input type="text" placeholder="Say something..." [(ngModel)]="text"></ion-input>
    
    <ion-button class="ion-margin" color="danger" fill="clear" (click)="post()">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-card *ngFor="let post of posts">
    <ion-item-divider color="danger">
      <ion-label>
        {{ post.data().username}}
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label text-wrap>
        {{ post.data().text }}
      </ion-label>
    </ion-item>

    <ion-row class="bottom-bar">
      <ion-col>
        <ion-button color="danger" fill="clear" expand="block" class="border-right">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <small>
            12 Likes
          </small>
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="danger" fill="clear" expand="block" class="border-right">
          <ion-icon slot="start" name="document-text"></ion-icon>
          <small>
            12 Comments
          </small>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="danger" fill="clear" expand="block">
          <small>
            12 mins ago
          </small>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
