.rowStyle {
    border: solid 1px;
    border-color: var(--ion-color-danger);
    border-radius: 30px;
    margin: 15px;

    ion-input {
        margin-top: 5px;
    }
}

.bottom-bar {
    background-color: var(--ion-color-light);

    .border-right {
        border-right: 1px solid white;
    }

    ion-button {
        text-transform: none;
    }
}