<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Your Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row margin class="rowStyle">
    <ion-button color="danger">
      <ion-icon slot="icon-only" name="images"></ion-icon>
    </ion-button>
        <ion-input type="text" placeholder="Awesome Input"></ion-input>
        <ion-button color="danger">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-row>

</ion-content>
